/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
  }

body {
    color: #45454D;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9FB;
    height: 100%;
    z-index: 15;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 10%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    background: url('https://raw.githubusercontent.com/acrks/rillow/favorites/app/assets/images/House_logo_w_letters_4.png') no-repeat;
    background-size: contain;
    background-position: center center;
}

.logo-text {
    background: none;
    width: 25%;
    font-size: 30px;
    margin-left: 5%; 
    margin-right: 5%; 
    font-size: 40px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #006AFF;
    text-decoration: none;

}

.headline {
    font-family: 'Lora', serif;
}

.home-headline {
    color: white;
    font-size: 35px;
    font-weight: 400;
}

.home-subheadline {
    font-size: 115%;
}

i {
    /* font-family: 'FontAwesome'; */
    
    font-style: normal;
 }


.inspirational-message {
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 75px;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    position: relative;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFF;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    height: 75px;
    width: 100vw;
}

.session-button {
    border: none;
    background-color: #FFF;
    color: #45454D;
    opacity: 1;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.input-field {
    background-color: #F6F6FA;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
}

.input-field:hover {
    border: 1px solid #006AFF;
}

.nav-bar-link {
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #45454D;
}

.nav-bar-link:hover, .tab-header:hover, .session-button:hover {
    color: #006AFF;
}

.sign-in-button {
    background-color: #006AFF;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.headline-container {
    text-align: center;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #45454D;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
    /* padding-bottom: 10px; */
}

.label-container {
    margin-top: 20px;
    text-align: left;
}

.label-header {
    font-weight: 600;
    color: #45454D;
}

.tab-header {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 10px;
}


.sign-in-button:hover {
    background-color: #0D4599;
}

.session-form {
    width: 100%;
    text-align: justify;
    height: auto;
    padding: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;

  }
 
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
  }

  .close-x {
      text-align: right;
  }

  .change-modal-tab {
      border: none;
      cursor: pointer;
      background-color: white;
      color: #45454D;
      font-size: 16px;
  }

  .tab-header-selected {
    /* padding-bottom: 3px; */
    border-bottom: 3px solid #006AFF;
}


  .error-list {
      padding: 0;
  }

  .error-message {
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    color: red;
    width: 100%;
  }

  .info-window {
      width: 100px;
      height: 100px;
      font-size: 25px;
  }
  
  .home-page {
    position: relative; 
    height: 500px;
    width: 100vw;
    z-index: 5;
    background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/main_bg.png') no-repeat;
    background-position: 0% 100%;
    background-size: cover;
    padding-top: 40px;
  }

  .home_page_text {
      color: white;
  }

  .fa fa-search {
    border: none
  }

  .search-bar {
      width: 100vw;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .search-bar-element {
    background: #F9F9FB;
    width: 40%;
    height: 30%;
    margin-top: 2%; 
  }

  .search-bar-element:hover {
    border: 1px solid #006AFF;
  }

  form.search-bar-element input[type=text] {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #45454D;
    border: none;
    height: 100%;
    float: left;
    width: 92%;
    background: #F9F9FB;
    padding-left: 4%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  form.search-bar-element button {
    height: 100%;
    width: 8%;
    background: #F9F9FB;
    color: #45454D;
    font-size: 22px;
    border: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.search-bar-element button,
  form.search-bar-element input[type=text],
  .search-bar-element  {
    border-radius: 5px;
  }

  form.search-bar-element::after {
    content: "";
    clear: both;
    display: table;
  }

  .listing-index-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    height: 100vh;
}

.listing-index-search-bar {
    width: 100%;
    height: 75px;
    z-index: 16;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.input-search {
    width: 20%;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
}

.listing-index-item-navbar {
    /* border: 1px solid red; */
    text-align: center;
}

  .index-map-container {
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 14;
  }

  .index-map {
      height: 100%;
      width: 100%;
  }

  .listing-form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .listing-form-picture {
      height: 500px;
      width: 60%;
      text-align: center;
      background-repeat: no-repeat;
      background-size: contain;
    /* border: 1px solid black; */
    background-position: center;
      /* background: rgb(102, 102, 102); */
  }

  .listing-form-info {
      width: 40%;
  }

  .listing-form-forms {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      padding: 20px;
  }

  .listing-form-labels {
      width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .listing-form-labels > label {
      margin: 10px;
      font-size: 20px;
      width: 100%;
        text-align: left;
  }

  .listing-form-labels > label input[type=text],
  .listing-form-labels > label input[type=number],
  .listing-form-labels > label > select
   {
      /* margin-left: 20px; */
      font-size: 20px;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
  }

  .listing-form-labels > label > input[type=range] {
        width: 100%;
        height: 50px;
  }

  .listing-form-submit-button {
      width: 25%;
  }

  .listing-index {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    overflow: scroll;
  }

  .listing-index-item-thumbnail {
      width: 100%;
      height: 50%;
      object-fit: cover;
  }

  .listing-index-item-info {
      padding: 10px;
      height: 50%;
      width: 100%;
  }

  .listing-index-items {
      width: 50%;
      text-align: left;
      overflow: scroll;
      padding-top: 2.5%;
      box-shadow: -5px 0px 12px -11px #000000;
      z-index: 15;
  }

  .listing-index-item {
    text-decoration: none;
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: 1px 0px 5px -3px #000000;
    margin: 0.25%;
    text-align: left;
    align-items: flex-start;
    border-bottom: 5px solid #006AFF;
  }

  .listing-index-item-price {
      font-weight: 600;
  }

  .index-item-address {
      font-size: 12px;
      text-align: left;
  }

  .options-links {
      text-decoration: none;
      display: flex;
      flex-direction: row; 
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 500px;
      padding-left: 40px;
      padding-right: 40px;
  }

  .option-link {
        color: #45454D;
        cursor: pointer;
        width: 400px;
        text-align: center;
        height: 100%;
        background-color: white;
        border-radius: 3px;
  }

    .buy-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/buy_a_home.png') no-repeat;
    }

    .sell-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/sell_a_home.png') no-repeat;
    }

    .rent-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/rent_a_home.png') no-repeat;
    }

    .buy-home,
    .sell-home,
    .rent-home {
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50%;
    }

    .option-block-button {
        width: auto;
    }

    .option-block {
        font-size: 20px;
        font-weight: 700;
    }

    .option-block-text {
        padding: 10px;
    }

    
    .listing-show {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 90vh;
    }
    
    .listing-show-page-pictures {
        width: 50%;
        height: 50vh;
        background-repeat: no-repeat;
      background-size: contain;
    /* border: 1px solid black; */
    background-position: center;
        
    }

    .listing-show > img:first-child {
        width: 60%;
    }

    .listing-show-page-info {
        padding: 20px;
        width: 50%;
        text-align: left;
    }

 .listing-show-page-banner {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid lightgray;
     padding: 5px;
 }

 .listing-show-outreach {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 1%;
     height: auto;
 }

 #agentinfowindow {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50%;
    border-radius: 5px;
    height: 20%;
    color: #0D4599;
    border: 1px solid #0D4599;
    box-shadow: 1px 0px 5px -3px #000000;
    font-size: 15px;
 }

 .save-share-more {
    color: #006AFF;
 }

 .listing-show-page-logo {
     font-size: 30px;
     margin: 0;
     width: 100px;
     height: 50px;
 }

 .listing-show-page-price {
     font-size: 30px;
     font-weight: 600;
     
 }

 .show-page-outreach-button {
     width: 49%;
     margin-bottom: 0px;
 }

 .white-zillow-button {
     color:#006AFF;
     border: 1px solid #006AFF;
     background-color: white;
 }

 .white-zillow-button:hover,
 #agentinfowindow:hover {
     color: #0D4599;
     border: 1px solid #0D4599;
     background-color: #f7fbff;
 }

 .footer {
     background-color: white;
     border-top: 1px solid lightgray;
     border-bottom: 1px solid lightgray;
     padding: 15px;
     width: 100vw;
     margin-top: 2%;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }

 .favorite-container {
     cursor: pointer;
     color:#006AFF; 
 }

 .favorite-container:hover > span {
     text-decoration: underline;
 }

 .liked-listing-index-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: 100vh;
    align-items: center;
}

.liked-listing-index-header {
    text-align: left;
    font-size: 25px;
    font-family: 'Lora', serif;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liked-listing-index-subheader {
    width: 70%;
    font-size: 35px;
    margin-top: 25px;
}

.liked-listing-index-commcentral {
    font-size: 15px;
    font-weight: 900px;
    width: 70%;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.liked-listing-index {
    width: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    overflow: scroll;

}

 .liked-listing-item {
     width: 30%;
     height: 300px;
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 2%;
     background-color: white;
     box-shadow: 1px 0px 5px -3px #000000;
     border-bottom: 5px solid #006AFF;
    }

 .liked-listing-item-info {
    text-align: justify;
    padding-bottom: 5%;
    padding-left: 3%;
    height: 40%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
 }

 .liked-listing-item-info > .listing-index-item-price  {
    font-size: 20px;
 }

 .liked-listing-item-address {
     font-size: 10px;
 }

 .liked-listing-item-thumbnail {
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    background-size: cover;
    /* border: 1px solid black; */
    background-position: center;
 }