/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
  }

body {
    color: #45454D;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9FB;
    height: 100%;
    z-index: 15;
    border: 1px solid green;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #006AFF;
    text-decoration: none;
    font-size: 40px;
    margin-left: 9%;
    margin-right: 9%;
}

.headline {
    font-family: 'Lora', serif;
}

.home-headline {
    color: white;
    font-size: 35px;
    font-weight: 400;
}

.home-subheadline {
    font-size: 115%;
}

.inspirational-message {
    font-weight: 900;
    border: 1px solid pink;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 75px;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    position: relative;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFF;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    height: 75px;
    width: 100vw;
}

.session-button {
    border: none;
    background-color: #FFF;
    color: #45454D;
    opacity: 1;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.input-field {
    background-color: #F6F6FA;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
}

.input-field:hover {
    border: 1px solid #006AFF;
}

.nav-bar-link {
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #45454D;
}

.nav-bar-link:hover, .tab-header:hover, .session-button:hover {
    color: #006AFF;
}

.sign-in-button {
    background-color: #006AFF;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.headline-container {
    text-align: center;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #45454D;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
    /* padding-bottom: 10px; */
}

.label-container {
    margin-top: 20px;
}

.label-header {
    font-weight: 600;
    color: #45454D;
}

.tab-header {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 10px;
}


.sign-in-button:hover {
    background-color: #0D4599;
}

.session-form {
    width: 100%;
    text-align: justify;
    height: auto;
    padding: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;

  }
 
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
  }

  .close-x {
      text-align: right;
  }

  .change-modal-tab {
      border: none;
      cursor: pointer;
      background-color: white;
      color: #45454D;
      font-size: 16px;
  }

  .tab-header-selected {
    /* padding-bottom: 3px; */
    border-bottom: 3px solid #006AFF;
}


  .error-list {
      padding: 0;
  }

  .error-message {
    list-style-type: none;
  }
  
  .home-page {
    position: relative; 
    height: 500px;
    width: 100vw;
    z-index: 5;
    background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/main_bg.png') no-repeat;
    background-position: 0% 100%;
    background-size: cover;
    padding-top: 40px;
  }

  .home_page_text {
      color: white;
  }

  .fa fa-search {
    border: none
  }

  .search-bar {
      width: 100vw;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .search-bar-element {
    background: #F9F9FB;
    width: 40%;
    height: 30%;
    margin-top: 2%; 
  }

  .search-bar-element:hover {
    border: 1px solid #006AFF;
  }

  form.search-bar-element input[type=text] {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #45454D;
    border: none;
    height: 100%;
    float: left;
    width: 92%;
    background: #F9F9FB;
    padding-left: 4%;
    /* padding-top: 6%;
    padding-bottom: 5%; */
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  form.search-bar-element button {
    height: 100%;
    width: 8%;
    background: #F9F9FB;
    color: #45454D;
    font-size: 22px;
    border: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.search-bar-element button,
  form.search-bar-element input[type=text],
  .search-bar-element  {
    border-radius: 5px;
  }

  form.search-bar-element::after {
    content: "";
    clear: both;
    display: table;
  }

  .listing-index-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
    background-color: white;
    height: 800px;
}

  .index-map-container {
      width: 50%;
      border: 1px solid salmon;
  }

  .index-map {
      border: 1px solid lawngreen;
      height: 90%;
  }



  .listing-form {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 1px solid aquamarine;
  }

  .listing-form-labels {
      width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .listing-form-labels > label {
      margin: 10px;
      font-size: 20px;
  }

  .listing-form-labels > label input[type=text],
  .listing-form-labels > label input[type=number],
  .listing-form-labels > label > select
   {
      margin-left: 20px;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
  }

  .listing-form-labels > label > input[type=range] {
    width: 100%;
    height: 50px;
  }

  .listing-form-submit-button {
      width: 25%;
  }

  .listing-index {
    width: 50%;
    border: 1px solid purple;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    overflow: scroll;
  }

  .listing-index-item-thumbnail {
      width: 40%;

      object-fit: cover;
  }

  .listing-index-item-info {
      width: 60%;
      border: 1px solid royalblue;
  }

  .listing-index-item {
      border: 1px solid black;
      text-decoration: none;
      width: 48%;
      display: flex;
      flex-direction: row;
        height: 200px;
  }

  .options-links {
      text-decoration: none;
      display: flex;
      flex-direction: row; 
      border: 1px solid magenta;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 500px;
      padding-left: 40px;
      padding-right: 40px;
  }

  .option-link {
        color: #45454D;
        border: 1px solid khaki;
        cursor: pointer;
        width: 400px;
        text-align: center;
        height: 100%;
        background-color: white;
        border-radius: 3px;
  }

    .buy-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/buy_a_home.png') no-repeat;
    }

    .sell-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/sell_a_home.png') no-repeat;
    }

    .rent-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/rent_a_home.png') no-repeat;
    }

    .buy-home,
    .sell-home,
    .rent-home {
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50%;
        border: 1px solid blue;
    }

    .option-block-button {
        width: auto;
    }

    .option-block {
        font-size: 20px;
        font-weight: 700;
    }

    .option-block-text {
        padding: 10px;
    }

    
    .listing-show {
        border: 1px solid orange;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .listing-show-page-pictures {
        border: 1px solid lightblue;
        width: 60%;
        
    }

    .listing-show > img:first-child {
        width: 60%;
    }

    .listing-show-page-info {
        border: 1px solid lightcoral;
        padding: 20px;
        width: 40%;
        text-align: left;
    }

 .listing-show-page-banner {
     border: 1px solid yellowgreen;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid lightgray;
     padding: 5px;
 }

 .listing-show-outreach {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border: 1px solid yellow;
     padding: 1%;
     height: auto;
 }

 .save-share-more {
    color: #006AFF;
 }

 .listing-show-page-logo {
     font-size: 30px;
     margin: 0;
 }

 .listing-show-page-price {
     font-size: 30px;
     font-weight: 900;
     
 }

 .show-page-outreach-button {
     width: 49%;
     margin-bottom: 0px;
 }

 .white-zillow-button {
     color:#006AFF;
     border: 1px solid #006AFF;
     background-color: white;
 }

 .white-zillow-button:hover {
     color: #0D4599;
     border: 1px solid #0D4599;
     background-color: #f7fbff;
 }

 .footer {
     background-color: white;
     border-top: 1px solid lightgray;
     border-bottom: 1px solid lightgray;
     padding: 15px;
     width: 100vw;
     margin-top: 10%;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }