/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
  }

body {
    color: #45454D;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9FB;
    height: 100vw;
    z-index: 15;
    border: 1px solid green;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #006AFF;
    text-decoration: none;
    font-size: 40px;
    margin-left: 9%;
    margin-right: 9%;
}

.headline {
    font-family: 'Lora', serif;
}

.home-headline {
    color: white;
    font-size: 35px;
    font-weight: 400;
}

.home-subheadline {
    font-size: 115%;
}

.inspirational-message {
    font-weight: 900;
    border: 1px solid pink;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 75px;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: calc(100% - 40px);
}

h1 {
    position: relative;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFF;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    height: 75px;
}

.session-button {
    border: none;
    background-color: #FFF;
    color: #45454D;
    opacity: 1;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.input-field {
    background-color: #F6F6FA;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 10px;
    width: calc(100% - 25px);
    margin-top: 15px;
}

.input-field:hover {
    border: 1px solid #006AFF;
}

.nav-bar-link {
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #45454D;
}

.nav-bar-link:hover, .tab-header:hover, .session-button:hover {
    color: #006AFF;

}

.sign-in-button {
    background-color: #006AFF;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.headline-container {
    text-align: center;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #45454D;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.label-container {
    margin-top: 20px;
}

.label-header {
    font-weight: 600;
    color: #45454D;
}

.tab-header {
    cursor: pointer;
}

.tab-header-selected {
    border-bottom: 3px solid #0D4599;
}

.sign-in-button:hover {
    background-color: #0D4599;
}

.session-form {
    width: calc(100% - 25px);
    text-align: justify;
    height: auto;
    padding: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;

  }
 
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    width: 35%;
    border-radius: 3px;
  }

  .close-x {
      text-align: right;
  }
  
  .home-page {
    position: relative; 
    height: 500px;
    width: 100vw;
    z-index: 5;
    background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/main_bg.png') no-repeat;
    background-position: 0% 100%;
    background-size: cover;
    padding-top: 40px;
  }

  .home_page_text {
      color: white;
  }

  .fa fa-search {
    border: none
  }

  .search-bar {
      width: 100vw;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .search-bar-element {
    background: #F9F9FB;
    width: 40%;
    height: 30%;
    margin-top: 2%; 
  }

  .search-bar-element:hover {
    border: 1px solid #006AFF;
  }

  form.search-bar-element input[type=text] {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #45454D;
    border: none;
    height: 100%;
    float: left;
    width: 92%;
    background: #F9F9FB;
    padding-left: 4%;
    /* padding-top: 6%;
    padding-bottom: 5%; */
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  form.search-bar-element button {
    height: 100%;
    width: 8%;
    background: #F9F9FB;
    color: #45454D;
    font-size: 22px;
    border: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.search-bar-element button,
  form.search-bar-element input[type=text],
  .search-bar-element  {
    border-radius: 5px;
  }

  form.search-bar-element::after {
    content: "";
    clear: both;
    display: table;
  }

  .listing_index {
    border: 1px solid purple;
    list-style: none;
  }

  .listing-index-item {
      border: 1px solid black;
      text-decoration: none;
  }

  .options-links {
      text-decoration: none;
      display: flex;
      flex-direction: row; 
      border: 1px solid magenta;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 500px;
      padding-left: 40px;
      padding-right: 40px;
  }

  .option-link {
        color: #45454D;
        border: 1px solid khaki;
        cursor: pointer;
        width: 400px;
        text-align: center;
        height: 100%;
        background-color: white;
        border-radius: 3px;
  }

    .buy-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/buy_a_home.png') no-repeat;
    }

    .sell-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/sell_a_home.png') no-repeat;
    }

    .rent-home {
        background: url('https://raw.githubusercontent.com/acrks/rillow/main/app/assets/images/rent_a_home.png') no-repeat;
    }

    .buy-home,
    .sell-home,
    .rent-home {
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50%;
        border: 1px solid blue;
    }

    .option-block-button {
        width: auto;
    }

    .option-block {
        font-size: 20px;
        font-weight: 700;
    }

    .option-block-text {
        padding: 10px;
    }

 .listing-show {
     border: 1px solid orange;
 }
